<div class="submit-container container">

  <form ng-submit="createProgram()">
    <div class="form-group">
      <label>Title</label>
      <input class="form-control" ng-model="newProgram.title" />
    </div>
    <div class="form-group">
      <label>Description</label>
      <input class="form-control" ng-model="newProgram.description" />
    </div>
    <!--<select ng-model="newProgram.brainTargets">
      <option value="Memory">Memory</option>
      <option value="Vision">Vision</option>
      <option value="Smell">Smell</option>
    </select>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="brain-target-dropdown" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
        Select Brain Target
        <span class="caret"></span>
      </button>
      <ul class="dropdown">
        <li><a href="#">Memory</a></li>
        <li><a href="#">Vision</a></li>
        <li><a href="#">Smell</a></li>
      </ul>
    </div>-->
    <div class="form-group">
      <label>Brain Targets</label>
      <input class="form-control" ng-model="newProgram.brainTargets" />
    </div>
    <div class="form-group">
      <label>Tags</label>
      <input class="form-control" ng-model="newProgram.tags" />
    </div>
    <div class="form-group">
      <label>Document Link</label>
      <input class="form-control" ng-model="newProgram.documentLink" />
    </div>
    <div class="form-group">
      <label>Tutorial Link</label>
      <input class="form-control" ng-model="newProgram.tutorialLink" />
    </div>
    <a href="/programs">
      <button class="btn btn-default" ng-click="programs.push(newProgram)">Submit</button>
    </a>
  </form>

</div>
