<template name="faq">
  <div class="background-img-wrapper">
    <div class="background-img-FAQ"></div>
  </div>
  <div class="page page-faq container">
    <div class="login-wrapper">
      <div class="FAQ-background">
        <h1 id="FAQ-header">Welcome to the FAQ Page!</h1>
      
        <div class="Content-Table">
          <h1 id="TOC-header">Table of Contents</h1>
          <div class="Table-item">
            <a href="#purpose">What is the purpose of this website?</a>
          </div>
          <div class="Table-item">
            <a href="#activity">What is an activity?</a>
          </div>
          <div class="Table-item">
            <a href="#program">What is a program?</a>
          </div>


        </div>
  	     <div class="Question-header">
           <a name="purpose">1) What is the purpose of this website?</a>
         </div>
  	     <div class="Question-response">
           <li>This website is used for Westminster to store and share programs and their constituent activities with other retirement communities. This website also gives people the ability to create and upload their own activities and programs to share with others, acting as an online database for all parties involved.</li>
         </div>
    	   <div class="Question-header">
           <a name="activity">2) What is an activity?</a>
         </div>
    	   <div class="Question-response">
           <li>An activity is an activity that lasts a short time and tests a specific aspect or aspects of the brain. The properties of an activity include a title, description, duration, possible tags that describe key points of the activity, and a document link.</li>
         </div>
    	   <div class="Question-header">
           <a name="program">3) What is a program?</a>
         </div>
    	   <div class="Question-response">
          <li>A program is a collection of activities that can be customized with all available activities in the database. Anyone with proper access can either download programs or customize their own from available activities. These programs vary in time from all of the activities it consists of.</li>
        </div>
      </div>
    </div>
  </div>
</template>