<template name="welcome">
  <div class="page page-welcome container">
  		<h1> Welcome to the Westminster Portal </h1>
  		<a href="activity/submit"><button id="ActivityCreate" class="welcome-button">Create An Activity</button></a>
  		<a href="program/submit"><button id="ProgramCreate" class="welcome-button">Create A Program</button></a>
  		<a href="activities"><button id="ActivityBrowse" class="welcome-button">Browse Current Activities</button></a>
  		<a href="programs"><button id="ProgramBrowse" class="welcome-button">Browse Current Programs</button></a>
  </div>
</template>