<template name="activityPage">
  <div class="page activity-page-page">

    <div class="activity-page-wrapper">
      <div class="activity-page-container container">
      {{rendered}}
        <form>
          <div class="col-sm-6">
            <div class="form-group">
             <label>Activity Title</label>
             <input class="form-control" id="program-submit-title" value="{{title}}"/>
           </div>
           <div class="form-group">
             <label>Tags</label>
             <input class="form-control" id="program-submit-tags" value="{{tags}}"/>
           </div>
           <div class="form-group">
             <label>Tutorial Link <small>(optional)</small></label>
             <input class="form-control" id="program-submit-tutorial-link" value="{{tutorialLink}}"/>
             <div id="activityTutError">
           </div>
           </div>
           <div class="form-group">
             <label>Description</label>
             <textarea class="form-control" id="program-submit-description" value="{{description}}"></textarea>
           </div>
           <button type="submit" class="btn btn-default">Submit</button>
           <button type="button" id="activity-delete-btn" class="btn btn-danger">Delete</button>
          <div id="activityError">
            <!--If empty field, warning appends here -->
          </div>
          </div>
          <div class="form-group">
            <div class="col-sm-6">
              <label>Brain Targets</label>
              <div class="container margin-top">
                <div class="input-group float-left padding-left">
                  <input type="checkbox" value="Frontal" class="filter-checkbox" id="Frontal-filter" checked="{{frontalChecked}}"> Frontal
                </div>
                <div class="input-group float-left padding-left">
                  <input type="checkbox" value="Parietal" class="filter-checkbox" id="Parietal-filter" checked="{{parietalChecked}}"> Parietal
                </div>
                <div class="input-group float-left padding-left">
                  <input type="checkbox" value="Temporal" class="filter-checkbox" id="Temporal-filter" checked="{{temporalChecked}}"> Temporal
                </div>
                <div class="input-group float-left padding-left">
                  <input type="checkbox" value="Occipital" class="filter-checkbox" id="Occipital-filter" checked="{{occipitalChecked}}"> Occipital
                </div>
              </div>
              <div class="activity-time">
                <label>Time</label>
                <p id="current-time"></p>
                <div class="slider" id="time-slider"></div>
              </div>
              <div class="file-upload-container">
                <label>Documents</label>
                <input type="file" multiple name="..." class="activity-file-input"/>
                <p class="upload-status-label">{{uploadStatus}}</p>
                {{#each fileNames}}
                  <p>{{name}}</p>
                {{/each}}
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>

  </div>
</template>
