<template name="activitySubmit">
  <div class="page activity-submit-page">

    <div class="activity-submit-wrapper">
      <div class="activity-submit-container container">

        <form>
          <div class="form-group">
            <label>Activity Title</label>
            <input class="form-control" id="program-submit-title"/>
          </div>
          <div class="form-group">
            <label>Description</label>
            <input class="form-control" id="program-submit-description"/>
          </div>
          <div class="form-group">
            <label>Brain Targets</label>
            <div class="container margin-top">
              <div class="input-group float-left padding-left">
                <input type="checkbox" value="Memory" class="filter-checkbox" id="Memory-filter2"> Memory
              </div>
              <div class="input-group float-left padding-left">
                <input type="checkbox" value="Visuospartial" class="filter-checkbox" id="Visuospartial-filter2"> Visuospartial
              </div>
              <div class="input-group float-left padding-left">
                <input type="checkbox" value="Concentration" class="filter-checkbox" id="Concentration-filter2"> Concentration
              </div>
              <div class="input-group float-left padding-left">
                <input type="checkbox" value="Orientation" class="filter-checkbox" id="Orientation-filter2"> Orientation
              </div>
              <div class="input-group float-left padding-left">
                <input type="checkbox" value="Language" class="filter-checkbox" id="Language-filter2"> Language
              </div>
              <div class="input-group float-left padding-left">
                <input type="checkbox" value="Judgement" class="filter-checkbox" id="Judgement-filter2"> Judgement
              </div>
              <div class="input-group float-left padding-left">
                <input type="checkbox" value="Sequencing" class="filter-checkbox" id="Sequencing-filter2"> Sequencing
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Tags</label>
            <input class="form-control" id="program-submit-tags"/>
          </div>
          <div class="file-upload-container">
            <label>Documents</label>
            <input type="file" multiple name="..." class="activity-file-input"/>
            <p class="upload-status-label">{{uploadStatus}}</p>
            {{#each fileNames}}
              <p>{{.}}</p>
            {{/each}}
          </div>
          <!--<div class="form-group">
            <label>Document Link</label>
            <input class="form-control" id="program-submit-document-link"/>
          </div>-->
          <div class="form-group">
            <label>Tutorial Link</label>
            <input class="form-control" id="program-submit-tutorial-link"/>
          </div>
          <button type="submit" class="btn btn-default" >Submit</button>
        </form>

      </div>
    </div>

  </div>
</template>
