<template name="activityDetails">
  <div class="page activity-details-page">

    <div class="acitivty-details-wrapper well well-sm">
      <div class="activity-details-container container">
        <div class="program-tile">
           <a class="float-right" href="{{ pathFor 'activityPage' }}">Edit</a>
          <h2>
            {{title}}
            {{#with owner}}
              <small>Owner {{fullName}} from community {{community}}</small>
            {{/with}}
          </h2>
        </div>
        <div class="activity-description">
          <p>{{description}}</p>
        </div>

        <div class="activity-brain-targets col-sm-3">
          <h4>Brain Targets</h4>
          <ul>
            {{#each brainTargets}}
              <li>{{.}}</li>
            {{/each}}
          </ul>
        </div>
        <div class="activity-tags col-sm-3">
          <h4>Tags</h4>
          <ul>
            {{#each tags}}
              <li>{{.}}</li>
            {{/each}}
          </ul>
        </div>
        <div class="activity-document-link col-sm-3">
          <h4>Documents</h4>
          {{#each documentRecords}}
            <a href="{{url download=true}}" target="_parent">{{name}}</a>
          {{/each}}
        </div>
        <div class="activity-tutorial-link col-sm-3">
          <h4>Tutorial Link</h4>
          <a href="{{tutorialLink}}">{{tutorialLink}}</a>
        </div>
      </div>
    </div>

  </div>
</template>
