<template name="programDetails">
  <div class="page page-program-detail">
    <div class="container">
      <div class="program-tile">
        <h2>{{title}}</h2>
      </div>
      <div class="prgram-owner-description">
        {{#with owner}}
          {{fullName}}
          {{community}}
        {{/with}}
      </div>
      <div class="program-description separate">
        <p>{{description}}</p>
      </div>
      <div class="program-brain-targets separate">
        <h4>Brain Targets</h4>
        <ul>
          {{#each brainTargets}}
            <li>{{.}}</li>
          {{/each}}
        </ul>
      </div>
      <div class="program-tags separate">
        <h4>Tags</h4>
        <ul>
          {{#each tags}}
            <li>{{.}}</li>
          {{/each}}
        </ul>
      </div>
      <div class="program-activites">
        <h4>Activities</h4>
        {{#each activities}}
          <div class="program-activity-item">
            {{title}}
          </div>
        {{/each}}
      </div>
      <div class="program-tutorial-link separate">
        <h4>Tutorial</h4>
        <iframe width="560" height="315" src="{{tutorialLink}}" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</template>
