<template name="programSubmit">
  <div class="page page-program-submit">
    <div class="container">
      <div class="submit-title">
        <h2>Program Create</h2>
      </div>
      <form>
        <div class="col-sm-6">
        <div class="form-group">
          <label>Program Title</label>
          <input class="form-control" id="program-submit-title"/>
        </div>
        <div class="form-group">
          <label>Tags</label>
          <input class="form-control" id="program-submit-tags"/>
        </div>
        <div class="form-group">
          <label>Tutorial Link <small>(optional)</small></label>
          <input class="form-control" id="program-submit-tutorial-link"/>
          <div id="tutLinkError">
          </div>
        </div>
         <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" id="program-submit-description"></textarea>
        </div>
        <button type="submit" class="btn btn-default" >Submit</button>
        <div id="submitError" >
          <!-- Used to append error if submission is not allowed -->
        </div>
      </div>
      <div class="program-activities-group">
        <div class="col-sm-6">
          <label>Activities</label>
          <div>
            <button class="btn btn-default add-activities-btn">Add Activities</button>
            or
            <a href="{{ pathFor 'activitySubmit' }}">
              <button class="btn btn-default">Create Activities</button>
            </a>
          </div>
          <div class="selected-activities">
            {{#each selectedActivities}}
              <div class="selected-activities-item">
                {{title}}
              </div>
            {{/each}}
          </div>
        </div>
          <div class="activity-modal {{showActivities}}">

            <div class="activity-select-modal-background"></div>
            <div class="activity-select-modal-wrapper">
              <div class="activity-select-modal-container">
                <div class="activity-select-modal-title">
                  <h5>Activities</h5>
                  <p>
                    Select as many Activities as you would like to add to this Program
                  </p>
                </div>
                <div class="activity-select-modal-list">
                  {{#each activities}}
                    <!-- TODO: Activity list design -->
                    <div class="activity-select-modal-item">
                      {{title}}
                    </div>
                  {{/each}}
                </div>
                <div class="activity-select-modal-submit">
                  <button class="activity-select-submit-btn btn btn-default">Done</button>
                  <button class="activity-select-cancel-btn btn btn-danger">Cancel</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </form>

    </div>
  </div>
</template>
