<template name="programSubmit">
  <div class="page page-program-submit">
    <div class="container">

      <form>
        <div class="form-group">
          <label>Title</label>
          <input class="form-control" id="program-submit-title"/>
        </div>
        <div class="form-group">
          <label>Description</label>
          <input class="form-control" id="program-submit-description"/>
        </div>
        <!--<select ng-model="newProgram.brainTargets">
          <option value="Memory">Memory</option>
          <option value="Vision">Vision</option>
          <option value="Smell">Smell</option>
        </select>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="brain-target-dropdown" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
            Select Brain Target
            <span class="caret"></span>
          </button>
          <ul class="dropdown">
            <li><a href="#">Memory</a></li>
            <li><a href="#">Vision</a></li>
            <li><a href="#">Smell</a></li>
          </ul>
        </div>-->
        <!--<div class="form-group">
          <label>Brain Targets</label>
          <input class="form-control" id="program-submit-brain-targets"/>
        </div>-->
        <div class="form-group">
          <label>Brain Targets</label>
          <div class="container margin-top">
            <div class="input-group float-left padding-left">
              <input type="checkbox" value="Memory" class="filter-checkbox" id="Memory-filter2"> Memory
            </div>
            <div class="input-group float-left padding-left">
              <input type="checkbox" value="Visuospartial" class="filter-checkbox" id="Visuospartial-filter2"> Visuospartial
            </div>
            <div class="input-group float-left padding-left">
              <input type="checkbox" value="Concentration" class="filter-checkbox" id="Concentration-filter2"> Concentration
            </div>
            <div class="input-group float-left padding-left">
              <input type="checkbox" value="Orientation" class="filter-checkbox" id="Orientation-filter2"> Orientation
            </div>
            <div class="input-group float-left padding-left">
              <input type="checkbox" value="Language" class="filter-checkbox" id="Language-filter2"> Language
            </div>
            <div class="input-group float-left padding-left">
              <input type="checkbox" value="Judgement" class="filter-checkbox" id="Judgement-filter2"> Judgement
            </div>
            <div class="input-group float-left padding-left">
              <input type="checkbox" value="Sequencing" class="filter-checkbox" id="Sequencing-filter2"> Sequencing
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Tags</label>
          <input class="form-control" id="program-submit-tags"/>
        </div>
        <div class="form-group">
          <label>Document Link</label>
          <input class="form-control" id="program-submit-document-link"/>
        </div>
        <div class="form-group">
          <label>Tutorial Link</label>
          <input class="form-control" id="program-submit-tutorial-link"/>
        </div>
        <button type="submit" class="btn btn-default" >Submit</button>
      </form>

    </div>
  </div>
</template>
