.navigation-items {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  height: 100%;

  a {
    text-decoration: none;
  }
}

.navigation-item {
  width: 280px;
  height: 100px;

  margin: 0 20px;

  background-color: #79288c;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-size: 1.4em;
}
