<template name="welcome">
  <div class="page page-welcome container">
  		<h1> THIS IS THE WELCOME PAGE, WELCOME WELCOME WELCOME MY FRIENDS</h1>
  		<button onclick="activityCreateFunc();" id="ActivityCreate" class="welcome-button">Create An Activity</button>
  		<button onclick="programCreateFunc();" id="ProgramCreate" class="welcome-button">Create A Program</button>
  		<button onclick="activityBrowseFunc();" id="ActivityBrowse" class="welcome-button">Browse Current Activities</button>
  		<button onclick="programBrowseFunc();" id="ProgramBrowse" class="welcome-button">Browse Current Programs</button>
  <!-- Content -->
  </div>
</template>
